@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
:root{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bgd1{
    background-image: url("../../public/img/bgd1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.mini-scrollbar::-webkit-scrollbar {
    width: 10rem;             /* width of the entire scrollbar */
    height: 0.5rem;
}
.mini-scrollbar::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}
.mini-scrollbar::-webkit-scrollbar-thumb {
    background-color: white;    /* color of the scroll thumb */
    border-radius: 10rem;       /* roundness of the scroll thumb */
    border: 3px solid blue;  /* creates padding around scroll thumb */
}